/* add transition and box shadow*/

a {
    display: block;
    color: red;
    text-decoration: none;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

footer {
    background-color: #FFC72C;
    margin-top: auto;
    padding: 50px;
}

.big-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: (auto, fit);
    gap: 10px;
}

.container {
    box-shadow: 5px 5px 5px red;
    padding: 10px;
}

.container:hover {
    background-color: #FFC72C;
    transition: .5s;
}

nav {
    font-size: large;
    border-bottom: 1px;
    padding: 16px;
    background-color: #FFC72C;
}

tr:nth-child(2n + 1) {
    background-color: lightgrey;
}
